<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>
    {{>title}}
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <br>
    <img src="/images/b.jpg" alt="My image" style="height: 212px; width: 290px; margin-top: 90px; margin-left: 25px; transform:rotate(90deg)">
</body>
</html>